#logo {
	display: block;
	position: absolute;
	left: 50%;
	top: 30%;
	width: 300px;
	height: 200px;
	margin: -150px 0 0 -150px;
	background-image: url("imagens/logo.webp");
	background-size: cover;
}

#loading-screen {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #3D3E40;
	opacity: 1;
	transition: 1s opacity;
}

#loading-screen.fade-out {
	opacity: 0;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #9370DB;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #BA55D3;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #FF00FF;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


#fundo {
	position: absolute;
	z-index: -1;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;

}

html {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: .938rem;

	/*COLORS*/
	--fonts: rgb(139, 139, 148);
	--blue-font: rgb(125, 161, 228);
	--font-container-right: rgb(231 220 220);
	--font-main-p2: rgb(146, 128, 128);
	--destaque-nav: rgb(236, 229, 160);
	--menu-nav-hover: rgb(253, 230, 16);
	--detail-background: rgba(0, 0, 0, 0.438);
	--containers-left: rgba(0, 0, 0, 0.247);
	--containers-right: rgba(0, 0, 0, 0.562);
	--background-smaller: rgba(0, 0, 0, 0.267);
	--barra: rgba(0, 0, 0, 0.158);

}


/*======== HEADER-LEFT =======*/
/*======== TITLE-IMAGE =======*/

.title {
	background-image: url(imgs/Warzone-logo.png);
	background-size: 100% 100%;
	width: 100%;
	height: 6.25rem;
	margin-left: 2rem;

}

/*======== OPTIONS-HEADER =======*/

.options {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	grid-auto-flow: column;
	gap: 2.375rem;
}

.box-title {
	width: 12.5rem;
}

/*======== MENU-NAV =======*/

.menu-nav {
	transition: 1.2s;
	display: flex;

	font-family: Monospace;
	font-weight: bold;
	font-size: .90rem;
	color: var(--fonts);

	padding-top: 0.5rem;

	cursor: pointer;
}

.play {
	padding-left: 8rem;
}

.destaque {
	color: var(--destaque-nav);

}

.end-nav {
	margin-right: 29rem;
}

.menu-nav:hover {
	transition: 1.2s;
	color: var(--menu-nav-hover);
}

/*======== HEADER-RIGHT =======*/
.right-box {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto !important;
	margin-left: 62rem;
	bottom: 6rem;
	position: relative;
	z-index: 1 !important;
}

.aling {
	position: static;
	display: flex;
	align-items: center;
}

#aling_P1 {
	grid-column-start: 1;
	display: flex;
	align-items: center !important;
	margin-top: 1rem;
	margin-left: 3rem;
}

#aling_P2 {
	grid-column-start: 2;
	grid-row-start: 2;
	display: flex;
	align-items: center !important;
	margin-top: 1rem;
	margin-left: 3rem;
}

#rank {
	border: solid 2px white;
	border-radius: 50%;
	width: 2.95rem !important;
	height: 2.95rem !important;

}

.RANK55 {
	padding-top: 15px;
	font-size: 1.4rem;
	margin-left: 3.5rem;
	border-bottom: solid 1px white;
}

.CP {
	width: 30px !important;
	height: 30px !important;
}

.spacing_number p {
	margin-left: 2rem;
}

#total_pessoas {
	width: 30px !important;
	height: 30px !important;
}

#pessoas {
	width: 20px !important;
	height: 20px !important;
}

/*======== BACKGROUND-DETAIL-PAI =======*/

.detail {
	width: 100%;
	height: 8.6rem;
	background: var(--detail-background);
}

#detalhe {
	width: 100%;
	height: 8.60rem;
	opacity: 0.5;
	position: absolute;
	z-index: -1;
}

/*=============== MAIN ==============*/
.menu-grid-right {
	margin-top: 1.5rem;
	float: right;

}

.menu-grid-left {
	margin-top: 1.5rem;
	float: left;

}

/*======== LEFT-MAIN-CONTAINER =======*/

.containers {
	height: 8rem;
	width: 23.25rem;
	background: var(--containers-left);

	margin-left: 2rem;
	margin-bottom: 1rem;
	margin-top: 1.3rem;

	color: var(--fonts);
}

.containers h3 {
	padding-top: .300rem;
	padding-left: 1rem;
}


.blue-main {
	color: var(--blue-font);
}

.smaller-container {
	display: flex;
	align-items: center;

	margin-left: 2rem;
	margin-bottom: 1rem;

	/*background: rgba(9, 27, 83, 0.425);==== HOVER ====*/
	background: var(--background-smaller);
	color: var(--fonts);
	width: 29.25rem;
	height: 2.188rem;
}

.smaller-container h3 {
	padding-left: 1rem;
}

/*======== RIGHT-MAIN-CONTAINER =======*/

.containers-right {
	height: 7rem;
	width: 23.25rem;
	background: var(--containers-right);

	margin-right: 2rem;
	margin-bottom: 1rem;
	padding-bottom: 0.313rem;

	border-radius: 0 0 1.30rem 0;

	color: var(--font-container-right);
}

.container-one-top {
	height: 2rem;
	width: 23.25rem;
	background: var(--containers-right);

	margin-top: 1.3rem;
	margin-right: 2rem;
	margin-bottom: .1rem;
	border-radius: 1.30rem 0 0 0;

	color: var(--fonts);

	display: flex;
	align-items: center;

}

.container-one-top h3 {
	margin-left: 0.938rem;
}

.main-p1 {
	color: var(--font-container-right);
	font-size: .840rem;
	padding-top: 3rem;
	margin-left: 0.938rem;
}

.main-p2 {
	color: var(--font-main-p2);
	font-size: .700rem;
	padding-left: 0.288rem;
}



.container-two-top h3 {
	margin-left: 0.938rem;
	padding-top: 1.3rem;
}

.container-two {
	height: 22rem !important;
	width: 23.25rem;

	margin-top: 1rem;
	border-radius: 1.30rem 0 1.30rem 0;

	color: var(--fonts);
	background: var(--containers-right);
}

.barra {
	height: 1rem;
	width: 20.500rem;
	margin-top: 0.413;
	margin-left: 0.938rem;

	background: linear-gradient(to right,
			white 50%, rgba(0, 0, 0, 0.158) 5%, rgba(0, 0, 0, 0.158),
			rgba(0, 0, 0, 0.158));

	display: flex;
	align-items: center;
}

.barra-2 {
	height: 1rem;
	width: 20.500rem;
	margin-left: 0.938rem;

	background: var(--barra);

	display: flex;
	align-items: center;
}

.container-right-bottom {
	height: 17rem;
	width: 23.25rem;
}

.text-bottom {
	padding-top: 11rem;
	padding-left: .600rem;
	color: var(--font-container-right);
}

/*===== ICONS =====*/
.icon_pai {
	width: 1.875rem;
	height: 1.875rem;
}

#icon_1 {
	margin-left: 3.6rem;
}

#icon_2 {
	margin-left: 5.9rem;
}

#icon_3 {
	margin-left: .5rem;
	visibility: hidden;
}

#icon_4 {
	margin-left: 7.3rem;
	visibility: hidden;
}


.flex-icon {
	display: flex;
	align-items: center;
}

/*===== SWIPER =====*/
.swiper {
	margin-top: 1rem;
	margin-right: 2rem !important;
	border-radius: 5px;
	background: #000;
	height: 17rem;
	width: 23.25rem;
	--swiper-theme-color: #000;
}

.swiper-wrapper {
	background-repeat: no-repeat;
	background-size: 23.25rem 16rem;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
}